{% extends 'basefront.html.twig' %}

{% block title %}internships{% endblock %}
 {% block header %} 
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{path('app_front')}}" class="logo">
                            Espritify
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{{path('app_front')}}" >Home</a></li>
                            <li class="scroll-to-section"><a href="{{path('app_quizz')}}" >Quizz</a></li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">Other Quizzes</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('app_other_quizzes', {'category': 9}) }}">General Knowledge</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_other_quizzes', {'category': 10}) }}">Books</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_other_quizzes', {'category': 21}) }}">Sport</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_other_quizzes', {'category': 25}) }}">Art</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_other_quizzes', {'category': 30}) }}">Science:Gadgets</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_other_quizzes', {'category': 18}) }}">Science:Computers</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_other_quizzes', {'category': 32}) }}">Cartoon</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="{{path('app_cours')}}">Courses</a></li>
                                   <li class="scroll-to-section"><a  data-toggle="modal" data-target="#myModal">Voice Assistant</a></li>
                                   <li class="has-sub">
                              <a href="javascript:void(0)" href="#top" class="active">Internships</a>
                              <ul class="sub-menu">
                                  <li><a  href="{{path('app_internships')}}">Available Internships</a></li>
                                  <li><a href="{{path('app_upcoming')}}">MY Interviews</a></li>
                                  <li><a href="{{path('app_myinternships')}}">MY Internships</a></li>
                              </ul>
                          </li>
                           <li><a href="{{path('app_conversation_index')}}"  >Live Chat</a></li>
                            <li>
                          <a href="{{ path('app_notifs') }}">
                          <i class="fas fa-bell"></i> <!-- FontAwesome bell icon -->
                          </a>
                          </li>
                            <li class="scroll-to-section"><a href="#apply">Apply Now</a></li>

                            
                            <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
{% block banner %}
{% endblock %}
    {% block body %}
    
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Here are our Upcoming Interviews</h6>
          <h2>Upcoming Interviews</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter="*"  class="active">All upcoming Interviews {{ interviews.getTotalItemCount }}</li>
                  <li data-filter=".soon">Soon</li>
                  <li data-filter=".imp">Important</li>
                  <li data-filter=".att">Attractive</li>
                </ul>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="row grid">
              {% if interviews is empty %}
              <div class="col-lg-4 templatemo-item-col all soon"> 
                <div class="meeting-item">
                    <div class="down-content">
                    <p>No records found</p>
                    </div>
                </div>
              </div>
            {% else %}
             {% for i in interviews %}
                <div class="col-lg-4 templatemo-item-col all soon"> 
                    <div class="meeting-item">
                        <div class="down-content">
                            <h4>{{i.type}}</h4>
                            <p><b>Internship: </b> <br>{{i.idStage.titre}}</p>
                            <p><b>Company Name: </b> <br>{{i.idStage.nomSoc}}</p>
                            <p><b>Description: </b> <br>{{i.description}}</p>
                            <p><b>Place: </b> <br>{{i.lieu}}</p>
                            <p><b>Date: </b> <br>{{i.date | date}}</p>
                            <p><b>State: </b> <br>{{i.etat}}</p>
                             {% if i.type == 'en ligne' %}
                             <div class="filters">
                    <a class="btn bg-gradient-primary">      <li data-filter=".imp">Passer entretien</li></a></div>
                {% endif %}
                        </div>
                    </div> 
                </div>
            {% endfor %}
        {% endif %}
<div class="col-lg-12">
              <div class="pagination">
                <ul><li class="active">
                  {{ knp_pagination_render(interviews) }}</li>
           
                  
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   

    {% endblock %}
