{% extends 'basefront.html.twig' %}

{% block title %}Upcoming Interviews{% endblock %}
{% block stylesheets %}

    <link href="{{ asset("assets/front/assets/css/callendar.css")}}" rel="stylesheet">
{% endblock %}
 {% block header %} 
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{path('app_front')}}" class="logo">
                            Espritify
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{{path('app_front')}}" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="{{path('app_quizz')}}" class="active">Quizz</a></li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">Other Quizzes</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('app_other_quizzes', {'category': 9}) }}">General Knowledge</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_other_quizzes', {'category': 10}) }}">Books</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_other_quizzes', {'category': 21}) }}">Sport</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_other_quizzes', {'category': 25}) }}">Art</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_other_quizzes', {'category': 30}) }}">Science:Gadgets</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_other_quizzes', {'category': 18}) }}">Science:Computers</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_other_quizzes', {'category': 32}) }}">Cartoon</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="{{path('app_cours')}}">Courses</a></li>
                                   <li class="scroll-to-section"><a  data-toggle="modal" data-target="#myModal">Voice Assistant</a></li>
                                   <li class="has-sub">
                              <a href="javascript:void(0)" href="#top" class="active">Internships</a>
                              <ul class="sub-menu">
                                  <li><a  href="{{path('app_internships')}}">Available Internships</a></li>
                                  <li><a href="{{path('app_upcoming')}}">MY Interviews</a></li>
                                  <li><a href="{{path('app_myinternships')}}">MY Internships</a></li>
                              </ul>
                          </li>
                           <li><a href="{{path('app_conversation_index')}}"  >Live Chat</a></li>
                            
                            <li class="scroll-to-section"><a href="#apply">Apply Now</a></li>

                            
                            <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                             <li>
                          <a href="{{ path('app_notifs') }}">
                          <i class="fas fa-bell"></i> <!-- FontAwesome bell icon -->
                          </a>
                          </li>
                            <li class="scroll-to-section"><a href="#apply"><i class="fa-solid fa-user"></i></a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
  
    {% endblock %}
{% block banner %}
{% endblock %}

{% block body %}

 <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get all details</h6>
          <h2>Online Teaching and Learning Tools</h2>
        </div>
      </div>
    </div>
  </section>

  <div class="container">

  <div class="calendar-base">

    <div class="year">2017</div>
    <!-- year -->

    <div class="triangle-left"></div>
    <!--triangle -->
    <div class="triangle-right"></div>
    <!--  triangle -->

    <div class="months">
      <span class="month-hover">Jan</span>
      <span class="month-hover">Feb</span> 
      <span class="month-hover">Mar</span> 
      <strong class="month-color">Apr</strong>
      <span class="month-hover">May</span>
      <span class="month-hover">Jun</span>
      <span class="month-hover">July</span> 
      <span class="month-hover">Aug</span> 
      <span class="month-hover">Sep</span> 
      <span class="month-hover">Oct</span> 
      <span class="month-hover">Nov</span> 
      <span class="month-hover">Dec</span>
    </div><!-- months -->
    <hr class="month-line" />

    <div class="days">SUN MON TUE WED THU FRI SAT</div>
    <!-- days -->

    <div class="num-dates">

      <div class="first-week"><span class="grey">26 27 28 29 30 31</span> 01</div>
      <!-- first week -->
      <div class="second-week">02 03 04 05 06 07 08</div>
      <!-- week -->
      <div class="third-week"> 09 10 11 12 13 14 15</div>
      <!-- week -->
      <div class="fourth-week"> 16 17 18 19 20 21 22</div>
      <!-- week -->
      <div class="fifth-week"> 23 24 25 26 <strong class="white">27</strong> 28 29</div>
      <!-- week -->
      <div class="sixth-week"> 30 <span class="grey">01 02 03 04 05 06</span></div>
      <!-- week -->
    </div>
    <!-- num-dates -->
    <div class="event-indicator"></div>
    <!-- event-indicator -->
    <div class="active-day"></div>
    <!-- active-day -->
    <div class="event-indicator two"></div>
    <!-- event-indicator -->

  </div>
  <!-- calendar-base -->
  <div class="calendar-left">

    <div class="hamburger">
      <div class="burger-line"></div>
      <!-- burger-line -->
      <div class="burger-line"></div>
      <!-- burger-line -->
      <div class="burger-line"></div>
      <!-- burger-line -->
    </div>
    <!-- hamburger -->


    <div class="num-date">27</div>
    <!--num-date -->
    <div class="day">THURSDAY</div>
    <!--day -->
    <div class="current-events">Current Events
      <br/>
      <ul>
        <li>Day 09 Daily CSS Image</li>
      </ul>
      <span class="posts">See post events</span></div>
    <!--current-events -->

    <div class="create-event">Create an Event</div>
    <!-- create-event -->
    <hr class="event-line" />
    <div class="add-event"><span class="add">+</span></div>
    <!-- add-event -->

  </div>
  <!-- calendar-left -->

</div>
<!-- container -->
   


{% endblock %}

    