{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

{% block body %}
    <h1>Questions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdQuestion</th>
                <td>{{ question.idQuestion }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ question.contenu }}</td>
            </tr>
            <tr>
                <th>Rep1</th>
                <td>{{ question.rep1 }}</td>
            </tr>
            <tr>
                <th>Rep2</th>
                <td>{{ question.rep2 }}</td>
            </tr>
            <tr>
                <th>Rep3</th>
                <td>{{ question.rep3 }}</td>
            </tr>
            <tr>
                <th>BonRep</th>
                <td>{{ question.bonRep }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_questions_index') }}">back to list</a>

    <a href="{{ path('app_questions_edit', {'idQuestion': question.idQuestion}) }}">edit</a>

    {{ include('questions/_delete_form.html.twig') }}
{% endblock %}
