{% extends 'basefront.html.twig' %}
{%block style %}

{%endblock%}

{% block title %}meeting details!{% endblock %}
{% block header %}
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        Espritify
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="{{path('app_acceuil')}}">Home</a></li>
                        <li><a href="{{path('app_cours')}}">Courses</a></li>
                        <li class="scroll-to-section"><a href="#apply">Apply Now</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="#">Upcoming Meetings</a></li>
                                <li><a href="#top" class="active">Meeting Details</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#courses">Courses</a></li>
                        <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block banner %}
{% endblock %}

{% block body %}

<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>Get all details</h6>
                <h2>Online Teaching and Learning Tools</h2>
            </div>
        </div>
    </div>
</section>

<section class="meetings-page" id="cours">
    <div class="container">
        <div class="row">
      {% block search %} 
    <form action="{{ path('app_cours') }}" method="GET" class="input-group">
        <button type="submit"><span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span></button>
        <input type="text" class="form-control" name="q" placeholder="Type here..." >
    </form>
    {% endblock %}
            {%for courses in cours%}
            <div class="col-md-6 col-lg-4 column">
                <div class="card gr-1">
                    <div class="txt">
                        <h1>{{courses.title}}</h1>
                        <img src="{{ asset('uploads/' ~ courses.contenu) }}" alt="">
                    </div>
                    <div class="mt-5">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{courses.rate * 2}}0%; background:rgb(189,9,9);" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" ></div>
                        </div>
                    </div>
                    <a href="{{ path('cours_detail', {'id': courses.id}) }}" >more</a>
                    <div class="ico-card">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            

            {%endfor%}
            <div class="pagination">
                <ul><li class="active">
                  {{ knp_pagination_render(cours) }}</li>
              
                </ul>
              </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $('a[data-toggle="modal"]').click(function() {
            var imageSrc = $(this).data('image');
            $('#modalImage').attr('src', imageSrc);
            $('#myModal').modal('show');
        });
    });
</script>

{% endblock %}