{% extends 'basefront.html.twig' %}

{% block title %}Quiz{% endblock %}
{% block banner %}{% endblock %}

{% block body %}
<section class="meetings-page" id="quizz">
    <div class="container mt-5">
        <form id="quiz-form" method="post" action="{{ path('quiz_submit') }}">
            <div class="d-flex justify-content-center row">
                <div class="col-md-10 col-lg-10">
                    <!-- Quiz questions -->
                    <div class="border">
                        <div class="question bg-white p-3 border-bottom">
                            {% for quizzs in quizz %}
                            <div class="d-flex flex-row align-items-center question-title">
                                <h3 class="text-danger">Q.{{ loop.index }}</h3>
                                <h5 class="mt-1 ml-2">{{ quizzs.idQuestion.contenu }}</h5>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio"> 
                                    <input type="radio" name="{{ quizzs.idQuestion.idQuestion }}" value="{{ quizzs.idQuestion.rep1 }}">
                                    <span>{{ quizzs.idQuestion.rep1 }}</span>
                                </label>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio"> 
                                    <input type="radio" name="{{ quizzs.idQuestion.idQuestion }}" value="{{ quizzs.idQuestion.rep2 }}">
                                    <span>{{ quizzs.idQuestion.rep2 }}</span>
                                </label>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio"> 
                                    <input type="radio" name="{{ quizzs.idQuestion.idQuestion }}" value="{{ quizzs.idQuestion.rep3 }}">
                                    <span>{{ quizzs.idQuestion.rep3 }}</span>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Buttons for previous, submit, and next -->
                        <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                            <a class="btn btn-primary d-flex align-items-center btn-danger" href="{{ path('previous_question') }}">Previous</a>
                            <button type="submit" class="btn btn-primary btn-danger">Submit</button>
                            <a class="btn btn-primary border-success align-items-center btn-success" href="{{ path('next_question') }}">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}


