{% extends 'base.html.twig' %}

{% block title %}Conversation index{% endblock %}

{% block body %}

    {% if conversation %}
    <br>
    <br>
    <br>
<a id="backButton" href="{{ path('app_conversation_index') }}" style="display: inline-block; padding: 10px; background-color: #b45757; border-radius: 5px;"> 
    <img src="\assets\front\assets\images\la-gauche.png" alt="Back" style="width: 20px; height: 20px;"> 
</a>
    <br>
    <br>
    <body>
        <div style="position: relative; width: 1500px; margin: 0 auto; background-color: #FFFFFF; border: 10px solid #d7bfbf; border-radius: 10px; padding: 20px; box-sizing: border-box; font-family: Arial, sans-serif; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);">
            <img src="\assets\front\assets\images\utilisateur.png" alt="User" style="width: 50px; height: 51px;">
            <p style="font-size: 21px; color: #b45757; text-align: center; position: absolute; top: 10px; left: 50%; transform: translateX(-50%);">{{ conversation.titre }}</p>
            <p style="font-size: 18px; color: #000; text-align: left; position: relative; left: 300px; top: 30px;">Content:{{ conversation.description }}</p>
            <p style="font-size: 13px; color: #b7a8a8; position: absolute; top: 0; right: 0;">{{ conversation.date ? conversation.date|date('Y-m-d H:i') : '' }}</p>
            <div style="position: absolute; bottom: 10px; left: 10px; font-size: 16px; color: #e63946; display: flex; align-items: center; gap: 10px;">
            
        <span>Likes: {{ conversation.likes }}</span>
    </div>
            {# Fetching and displaying user's name and surname #}
            {% set user = conversation.getIdUser() %}
            <p style="font-size: 18px; color: #b7a8a8; position: absolute; top: 35px; left: 80px;">
            {{ user.getNom() }} {{ user.getPrenom() }}
            </p>        
            <br>
            <br>
            <br>
            <br>
             {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div style="margin-bottom: 20px;">
             {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Enter your comment'}}) }}
             <span style="font-size: 13px; color: red;">{{ form_errors(form.description) }}</span>
            </div>
                <div style="text-align: center;">
              <button type="submit" class="btn main-button-red" style="background-color: #b45757; border-color: #b45757;">Add Comment</button>
                </div>
                {{ form_end(form) }}

            <hr style="stroke: #d7bfbf;">
        </div>
    <br>
    <br>
    <br>
    <h2 style="font-size: 28px; color: #b45757;text-align: center;">Comments</h2>
    <br>
    <br>
    <br>
    {% for message in messages %}
    <div style="position: relative; width: 1500px; margin: 0 auto; background-color: #FFFFFF; border: 10px solid #d7bfbf; border-radius: 10px; padding: 20px; box-sizing: border-box; font-family: Arial, sans-serif; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);">
       {% set user = message.getIdUser() %}
            {% if user and user.getId() == 56 %}
        <div style="position: absolute; top: 10px; right: 10px;">
            <a href="{{ path('app_message_delete', {'id': message.id}) }}">
                <img src="/assets/front/assets/images/poubelle.png" alt="Delete" style="width: 20px; height: 20px;">
            </a>
        </div>
        {% endif %}
        <img src="/assets/front/assets/images/utilisateur.png" alt="User" style="width: 50px; height: 51px;">     
        <p style="font-size: 21px; color: #b45757; text-align: left; position: relative; left: 350px;">
            Commented: {{ message.description }}
        </p>
        
        <p style="font-size: 13px; color: #b7a8a8; position: absolute; top: 0; right: 30px;">
    {{ message.date ? message.date|date('Y-m-d H:i') : '' }}
</p>

        
        {% set user = message.getIdUser() %}
        <p style="font-size: 18px; color: #b7a8a8; position: absolute; top: 35px; left: 80px;">
            {{ user.getNom() }} {{ user.getPrenom() }}
        </p>
        
        <button style="width: 66px; height: 31px; border: 1px solid #ffffff; border-radius: 20px; background-color: transparent; cursor: pointer;"></button>
        
        <hr style="stroke: #d7bfbf;">
    </div>
    
    <br>
    <br>
    <br>
{% endfor %}

<footer id="footer"></footer>
</body>
</html>
{% else %}
<p>No records found</p>
{% endif %}

{% endblock %}
