{% extends 'base.html.twig' %}

{% block title %}Conversation index{% endblock %}

{% block body %}
    <br><br><br><br><br>
    <body>
    {% for conversation in conversations %}
        <div style="position: relative; width: 1500px; margin: 0 auto; background-color: #FFFFFF; border: 10px solid #d7bfbf; border-radius: 10px; padding: 20px; box-sizing: border-box; font-family: Arial, sans-serif; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);">
            <div style="position: absolute; top: 10px; right: 10px;">
                <a href="{{ path('app_conversation_delete', {'id': conversation.id}) }}">
                    <img src="\assets\front\assets\images\poubelle.png" alt="Delete" style="width: 20px; height: 20px;">
                </a>
            </div>

            <img src="\assets\front\assets\images\utilisateur.png" alt="User" style="width: 50px; height: 51px;">
            <p style="font-size: 21px; color: #b45757; text-align: center; position: absolute; top: 10px; left: 50%; transform: translateX(-50%);">{{ conversation.titre }}</p>
            <p style="font-size: 18px; color: #000; text-align: left; position: relative; left: 300px; top: 30px;">Content: {{ conversation.description }}</p>
            <br><br><br>
            <p style="font-size: 13px; color: #b7a8a8; position: absolute; top: 10px; right: 40px;">{{ conversation.date ? conversation.date|date('Y-m-d H:i') : '' }}</p>
            <hr style="stroke: #d7bfbf;">
            <div style="text-align: center;">
                <div class="main-button-red">
                    <a href="{{ path('app_message_show_by_id_conv', {'id_conv': conversation.id}) }}">Show Details</a>
                </div>
            </div>
            {# Fetching and displaying user's name and surname #}
            {% set user = conversation.getIdUser() %}
            <p style="font-size: 18px; color: #b7a8a8; position: absolute; top: 40px; left: 100px;">
                {{ user.getNom() }} {{ user.getPrenom() }}:
            </p>
        </div>
    {% else %}
        <p>no records found</p>
    {% endfor %}

    <br><br><br>
    <h2 style="font-size: 28px; color: #b45757;text-align: center;"> Having Questions Or Need Help ?<br><br>
        Start Your own Discussion Here !...</h2>
    <br><br><br>
    <div style="position: relative; width: 1500px; margin: 0 auto; background-color: #FFFFFF; border: 10px solid #d7bfbf; border-radius: 10px; padding: 20px; box-sizing: border-box; font-family: Arial, sans-serif; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div style="margin-bottom: 20px;">
            {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'placeholder': 'Conversation Title...'}}) }}
        </div>
        <div style="margin-bottom: 20px;">
            <span style="font-size: 13px; color: red;">{{ form_errors(form.titre) }}</span>
        </div>
        <div style="margin-bottom: 20px;">
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Conversation Description...'}}) }}
        </div>
        <div style="margin-bottom: 20px;">
            <span style="font-size: 13px; color: red;">{{ form_errors(form.description) }}</span>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn main-button-red" style="background-color: #b45757; border-color: #b45757;">Start !</button>
        </div>
        {{ form_end(form) }}
    </div>
    </body>
    </html>
{% endblock %}
