{% extends 'basefront.html.twig' %}

{% block title %}meetings!{% endblock %}
 {% block header %}
   <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{path('app_front')}}" class="logo">
                            Espritify
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{{path('app_front')}}" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="{{path('app_quizz')}}">Quizz</a></li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">Other Quizzes</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item"
                                            href="{{ path('app_other_quizzes', {'category': 9}) }}">General
                                            Knowledge</a></li>
                                    <li><a class="dropdown-item"
                                            href="{{ path('app_other_quizzes', {'category': 10}) }}">Books</a></li>
                                    <li><a class="dropdown-item"
                                            href="{{ path('app_other_quizzes', {'category': 21}) }}">Sport</a></li>
                                    <li><a class="dropdown-item"
                                            href="{{ path('app_other_quizzes', {'category': 25}) }}">Art</a></li>
                                    <li><a class="dropdown-item"
                                            href="{{ path('app_other_quizzes', {'category': 30}) }}">Science:Gadgets</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="{{ path('app_other_quizzes', {'category': 18}) }}">Science:Computers</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="{{ path('app_other_quizzes', {'category': 32}) }}">Cartoon</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="{{path('app_cours')}}">Courses</a></li>
                            <li class="scroll-to-section"><a data-toggle="modal" data-target="#myModal">Voice
                                    Assistant</a></li>
                            <li class="has-sub">
                                <a href="javascript:void(0)" href="#top">Internships</a>
                                <ul class="sub-menu">
                                    <li><a href="{{path('app_internships')}}">Available Internships</a></li>
                                    <li><a href="{{path('app_upcoming')}}">MY Interviews</a></li>
                                    <li><a href="{{path('app_myinternships')}}">MY Internships</a></li>
                                </ul>
                            </li>
                            <li><a href="{{path('app_conversation_index')}}">Live Chat</a></li>

                            <li class="has-sub">
                                <a href="{{path('app_club_details')}}">Clubs</a>
                                <ul class="sub-menu">
                                    <li><a href="{{path('calendar')}}">Calendrier des évènements</a></li>
                                    <li><a href="{{path('catalogue')}}">Catalogue</a></li>
                                    <li><a href="{{path('mes_participations')}}">Mes participations</a></li>

                                </ul>
                            </li>


                            <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                            <li>
                                <a href="{{ path('app_notifs') }}">
                                    <i class="fas fa-bell"></i> <!-- FontAwesome bell icon -->
                                </a>
                            </li>
                            <li class="scroll-to-section"><a href="#apply"><i class="fa-solid fa-user"></i></a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
{% block banner %}

{% endblock %}
    {% block body %}

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Here are our upcoming meetings</h6>
          <h2>Upcoming Meetings</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter="*"  class="active">All Meetings</li>
                  <li data-filter=".soon">Soon</li>
                  <li data-filter=".imp">Important</li>
                  <li data-filter=".att">Attractive</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                {# Afficher les messages flash d'erreur #}
                {% for message in app.flashes('error') %}
                  <div class="alert alert-danger" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}

                {# Afficher les messages flash de succès #}
                {% for message in app.flashes('success') %}
                  <div class="alert alert-success" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
              {% for club in pagination %}
                <div class="col-lg-8 templatemo-item-col all soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="{{path('app_evenements_details', {'id': club.id})}}"><img src="{{ asset('/uploads/brochures/' ~ club.logo)}}" height="200" width="100"alt=""></a>
                    </div>
                    <div class="down-content">

                        <h4><img src="{{ asset("assets/img/logos/icons8-ruban.png")}}" style="height: 30px; width: 30px; vertical-align: middle;"> <a href="{{path('app_meeting-details')}}">{{ club.intitule }}</h4></a>
                        <div></br></div>
                      <h4><img src="{{ asset("assets/img/logos/icons8-email-50.png")}}" style="height: 30px; width: 30px; vertical-align: middle;">{{ club.emailClub }}</h4>

                        <h4><img src="{{ asset("assets/img/logos/icons8-fb-50.png")}}" style="height: 30px; width: 30px; vertical-align: middle;"><a href="{{ club.pageFb }}">{{ club.pageFb }}</a></h4>
                        <h4><img src="{{ asset("assets/img/logos/icons8-instagram-50.png")}}" style="height: 30px; width: 30px; vertical-align: middle;"> <a href="{{ club.pageInsta }}">{{ club.pageInsta }}</a></h4>

                        <div></br></div><a href="{{path('app_evenements_details', {'id': club.id})}}" class="filters" style="horizental-align: right;">
                                <ul>
                                    <li data-filter="*"  class="active">Voir les évènements</li>

                                </ul>
                                </a>
                    </div>
                  </div>
                </div>
                {% endfor %}




            </div>
            <div class="col-lg-12">
              <div class="pagination">
                <ul>


                  <li> {{ knp_pagination_render(pagination) }}</li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    {% endblock %}