{% extends 'basefront.html.twig' %}

{% block title %}meetings!{% endblock %}
 {% block header %} 
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{path('app_front')}}" class="logo">
                            Espritify
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{{path('app_front')}}" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="{{path('app_quizz')}}">Quizz</a></li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">Other Quizzes</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item"
                                            href="{{ path('app_other_quizzes', {'category': 9}) }}">General
                                            Knowledge</a></li>
                                    <li><a class="dropdown-item"
                                            href="{{ path('app_other_quizzes', {'category': 10}) }}">Books</a></li>
                                    <li><a class="dropdown-item"
                                            href="{{ path('app_other_quizzes', {'category': 21}) }}">Sport</a></li>
                                    <li><a class="dropdown-item"
                                            href="{{ path('app_other_quizzes', {'category': 25}) }}">Art</a></li>
                                    <li><a class="dropdown-item"
                                            href="{{ path('app_other_quizzes', {'category': 30}) }}">Science:Gadgets</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="{{ path('app_other_quizzes', {'category': 18}) }}">Science:Computers</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="{{ path('app_other_quizzes', {'category': 32}) }}">Cartoon</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="{{path('app_cours')}}">Courses</a></li>
                            <li class="scroll-to-section"><a data-toggle="modal" data-target="#myModal">Voice
                                    Assistant</a></li>
                            <li class="has-sub">
                                <a href="javascript:void(0)" href="#top">Internships</a>
                                <ul class="sub-menu">
                                    <li><a href="{{path('app_internships')}}">Available Internships</a></li>
                                    <li><a href="{{path('app_upcoming')}}">MY Interviews</a></li>
                                    <li><a href="{{path('app_myinternships')}}">MY Internships</a></li>
                                </ul>
                            </li>
                            <li><a href="{{path('app_conversation_index')}}">Live Chat</a></li>

                            <li class="has-sub">
                                <a href="{{path('app_club_details')}}">Clubs</a>
                                <ul class="sub-menu">
                                    <li><a href="{{path('calendar')}}">Calendrier des évènements</a></li>
                                    <li><a href="{{path('catalogue')}}">Catalogue</a></li>
                                    <li><a href="{{path('mes_participations')}}">Mes participations</a></li>

                                </ul>
                            </li>


                            <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                            <li>
                                <a href="{{ path('app_notifs') }}">
                                    <i class="fas fa-bell"></i> <!-- FontAwesome bell icon -->
                                </a>
                            </li>
                            <li class="scroll-to-section"><a href="#apply"><i class="fa-solid fa-user"></i></a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
  
    {% endblock %}
{% block banner %}
{% endblock %}
    {% block body %}
    
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Here are our upcoming meetings</h6>
          <h2>Upcoming Meetings</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter="*"  class="active">All Meetings</li>
                  <li data-filter=".soon">Soon</li>
                  <li data-filter=".imp">Important</li>
                  <li data-filter=".att">Attractive</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>$14.00</span>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><img src="{{ asset("assets/front/assets/images/meeting-01.jpg")}}" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>12</span></h6>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><h4>New Lecturers Meeting</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all imp">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>$22.00</span>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><img src="{{ asset("assets/front/assets/images/meeting-02.jpg")}}" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>14</span></h6>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><h4>Online Teaching Techniques</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>$24.00</span>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><img src="{{ asset("assets/front/assets/images/meeting-03.jpg")}}" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>16</span></h6>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><h4>Network Teaching Concept</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all att">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>$32.00</span>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><img src="{{ asset("assets/front/assets/images/meeting-04.jpg" )}}"alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>18</span></h6>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><h4>Online Teaching Tools</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all att">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>$34.00</span>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><img src="{{ asset("assets/front/assets/images/meeting-02.jpg")}}" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>22</span></h6>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><h4>New Teaching Techniques</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all imp">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>$45.00</span>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><img src="{{ asset("assets/front/assets/images/meeting-03.jpg" )}}"alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>24</span></h6>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><h4>Technology Conference</h4></a>
                      <p>TemplateMo is the best website<br>when it comes to Free CSS.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all imp att">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>$52.00</span>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><img src="{{ asset("assets/front/assets/images/meeting-01.jpg" )}}"alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>27</span></h6>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><h4>Online Teaching Techniques</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all soon imp">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>$64.00</span>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><img src="{{ asset("assets/front/assets/images/meeting-02.jpg")}}" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>28</span></h6>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><h4>Instant Lecture Design</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all att soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>$74.00</span>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><img src="{{ asset("assets/front/assets/images/meeting-03.jpg" )}}"alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>30</span></h6>
                      </div>
                      <a href="{{path('app_meeting-details')}}"><h4>Online Social Networking</h4></a>
                      <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="pagination">
                <ul>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   

    {% endblock %}