{% extends 'base.html.twig' %}
{% block title %}Calendrier!{% endblock %}
 {% block header %}
     <header class="header-area header-sticky">
         <div class="container">
             <div class="row">
                 <div class="col-12">
                     <nav class="main-nav">
                         <!-- ***** Logo Start ***** -->
                         <a href="index.html" class="logo">
                             Espritify
                         </a>
                         <!-- ***** Logo End ***** -->
                         <!-- ***** Menu Start ***** -->
                         <ul class="nav">
                             <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                             <li><a href="{{path('app_meetings')}}">Meetings</a></li>
                             <li class="scroll-to-section"><a href="#apply">Apply Now</a></li>
                             <li class="has-sub">
                                 <a href="{{path('app_club_details')}}">Clubs</a>
                                 <ul class="sub-menu">
                                     <li><a href="{{path('calendar')}}">Calendrier des évènements</a></li>
                                     <li><a href="{{path('catalogue')}}">Catalogue</a></li>
                                     <li><a href="{{path('mes_participations')}}">Mes participations</a></li>

                                 </ul>
                             </li>
                             <li class="scroll-to-section"><a href="#courses">Courses</a></li>
                             <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                         </ul>
                         <a class='menu-trigger'>
                             <span>Menu</span>
                         </a>
                         <!-- ***** Menu End ***** -->
                     </nav>
                 </div>
             </div>
         </div>
     </header>
 {% endblock %}


{% block banner %}
{% endblock %}

{% block body %}
    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>Here are our upcoming meetings</h6>
                    <h2>Upcoming Meetings</h2>


                </div>
            </div>
        </div>
    </section>
    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="filters">


                                <ul>
                                    <li data-filter="*"  class="active">All Meetings</li>
                                    <li data-filter=".soon">Soon</li>
                                    <li data-filter=".imp">Important</li>
                                    <li data-filter=".att">Attractive</li>
                                </ul>
                            </div>
                        </div>

                </div>


            </div>
                <table class="table">
                    <h1>Mes participations</h1>

                    <thead>
                    <tr>
                        <th style="color: white;">Titre de l'évènement</th>
                        <th style="color: white;">Date début</th>
                        <th style="color: white;">Date fin</th>
                        <th style="color: white;">Lieu</th>


                    </tr>
                    </thead>
                    <tbody>



                            {% for evenement in evenements %}

                            <tr><td style="color: white;"> <strong>Événement:</strong> {{ evenement.titre }}</td>
                                <td style="color: white;"> <strong></strong> {{ evenement.dateDebut | date }}</td>
                                <td style="color: white;"> <strong></strong> {{ evenement.dateFin | date }}</td>
                                <td style="color: white;"> <strong></strong> {{ evenement.lieu }}</td>


                            </tr>

                            {% endfor %}


                    </tbody>
                </table>


        </div>
        <div class="col-lg-12">
            <div class="pagination">
                <ul>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>

    </section>


    {% block footer %}

    {% endblock %}

{% endblock %}






