{% extends 'base.html.twig' %}

{% block title %}Quizz index{% endblock %}

{% block search %} 
    <form action="{{ path('app_quizz_index') }}" method="GET" class="input-group">
        <button type="submit"><span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span></button>
        <input type="text" class="form-control" name="q" placeholder="Type here..." >
    </form>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12 mb-lg-0 mb-4">
    {% for label, messages in app.session.flashbag.all() %}
                <div class="alert alert-{{ label }}">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        <div class="card mt-4">
            <div class="row">  
                <div class="col-6 d-flex align-items-center">
                    <h4>Quizz table</h4>
                </div>
                <div class="col-6 text-end">
                    <a class="btn bg-gradient-dark mb-0" href="{{ path('app_quizz_new') }}"><i class="fas fa-plus"></i> Ajouter Quizz</a>
                </div>
            </div>
            <div class="card-body p-3">
                <!-- Sorting buttons -->
                <div class="btn-group" role="group" aria-label="Sort by idQuizz">
                    <a href="{{ path('app_quizz_index', {'sort_order': 'asc'}) }}" class="btn btn-secondary"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></a>
                    <a href="{{ path('app_quizz_index', {'sort_order': 'desc'}) }}" class="btn btn-secondary"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></a>
                    <select class="form-select form-select-sm me-2" id="filterSelect" aria-label="Default select example" style="width: 200px; height:40px;">
                        <option selected disabled>Filter by Subject</option>
                        {% for subject in uniqueSubjects %}
                            <option value="{{ subject }}">{{ subject }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Table displaying quizzs -->
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    IdQuizz</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Sujet</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Description</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Question</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    actions</th>
                            </tr>
                        </thead>
                        <tbody id="quizzTable">
                            {% for quizz in quizzs %}
                            <tr>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{ quizz.idQuizz }}</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{ quizz.sujet }}</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{ quizz.description }}</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{ quizz.idQuestion }}</p>
                                </td>
                                <td>
                                    <a class="btn btn-link text-dark px-3 mb-0" href="{{ path('app_quizz_edit', {'idQuizz': quizz.idQuizz}) }}"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                                    {{ include('quizz/_delete_form.html.twig') }}
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="7">no data found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('filterSelect').addEventListener('change', function() {
    var selectedSubject = this.value;
    var tableBody = document.getElementById('quizzTable');
    tableBody.innerHTML = '';


    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ path('quizz_filter') }}?subject=' + selectedSubject, true);
    xhr.onload = function() {
        if (xhr.status >= 200 && xhr.status < 400) {
            // Mettre à jour la page avec les nouvelles données

            var response = xhr.responseText;
            console.log(response);

            var responseData = JSON.parse(response);
            responseData.forEach(quizz => {
                console.log(quizz);
                var row = document.createElement('tr');

                var IdQuizzCell = document.createElement('td');
                IdQuizzCell.textContent = quizz.idQuizz;
                row.appendChild(IdQuizzCell);

                var SujetCell = document.createElement('td');
                SujetCell.textContent = quizz.sujet;
                row.appendChild(SujetCell);

                var DescriptionCell = document.createElement('td');
                DescriptionCell.textContent = quizz.description;
                row.appendChild(DescriptionCell);

                var IdQuestionCell = document.createElement('td');
                IdQuestionCell.textContent = quizz.idQuestion.contenu;
                row.appendChild(IdQuestionCell);

                tableBody.appendChild(row);

            });
        }
    };
    xhr.send();
    });
</script>
{% endblock %}