{% extends 'base.html.twig' %}

{% block title %}Quizz index{% endblock %}

{% block body %}
    <h1>Quizz index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdQuizz</th>
                <th>Sujet</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quizz in quizzs %}
            <tr>
                <td>{{ quizz.idQuizz }}</td>
                <td>{{ quizz.sujet }}</td>
                <td>{{ quizz.description }}</td>
                <td>
                    <a href="{{ path('app_quizz_show', {'idQuizz': quizz.idQuizz}) }}">show</a>
                    <a href="{{ path('app_quizz_edit', {'idQuizz': quizz.idQuizz}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_quizz_new') }}">Create new</a>
{% endblock %}
